<tr>
    <td >@Model.TokenType</td>
    <td >@Model.Created</td>
    <td >@(DateTime.UtcNow.Subtract(Model.ExpiresAt))</td>
    <td >@Model.AccessToken</td>
    <td >@Model.RefreshToken</td>
</tr>